.room {
    height: 100%;
    width: 100%;
    background-color: var(--game-board-background-color);
    font-size: 170%;
    display: flex;
    flex-direction: column;
    color: var(--game-board-sell-circle-border-color);
    user-select: none;
}

.roomHeader {
    height: 60px;
    background-color: rgba(0, 0, 200, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
}

.roomHeaderLeft {
    display: flex;
    align-items: stretch;
}

.copyImage {
    /* height: 100%; */
    width: 30px;
}

#copyRoomIdMessage {
    font-size: 80%;
}


.roomMain {
    height: calc(100% - 60px * 2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
}

.roomFooter {
    height: 60px;
    display: flex;
    background-color: rgba(0, 0, 200, 0.1);
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
}

#exitRoom,
#gameStart {
    height: 80%;
    font-size: 40px;
    border: 0;
    border-radius: 3px;
}

#exitRoom {
    width: 300px;
}

#gameStart {
    width: 300px;
}

.roomPlayerSelf,
.roomPlayerRemote {
    width: 300px;
    height: 80%;
    background-color: var(--game-board-sell-circle-background-color);
    text-align: center;
}

.roomPlayerSelf>p,
.roomPlayerRemote>p {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.personImage {
    margin-top: 20px;
    width: 80%;
    border: solid 1px var(--game-board-sell-circle-border-color);
}

#readyStartGame {
    height: 30px;
    width: 30px;
}