* {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    touch-action: manipulation;
}

:root {
    --game-background-color: #61aef9;
    --game-board-background-color: #61aef9;
    --game-board-border-color: #4f9deb;
    --game-board-border-size: 5px;
    --game-board-sell-circle-margin: 1px;
    --game-board-sell-circle-background-color: #4f9deb;
    --game-board-sell-circle-border-color: #ede4e2;
    --game-board-sell-circle-red: #c08497;
    --game-board-sell-circle-yellow: #d4b483;
    --game-board-sell-radius: 50%;
}

noscript {
    color: red;
}

#canvas {
    width: 412px;
    text-align: center;
}

body,
#app {
    height: 100vh;
    width: 100%;
    background-color: var(--game-board-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}